<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit user</title>
</head>
<body>
<form th:method="POST" th:action="@{/edit}" th:object="${editUser}">
    <input type="hidden" name="id" th:value="${editUser.getId()}">
    <br>
    <label for="name">Enter a name</label>
    <input type="text" th:field="*{name}" id="name">
    <br>
    <br>
    <label for="city">Enter the city</label>
    <input type="text" th:field="*{city}" id="city">
    <br>
    <br>
    <label for="age">Enter the age</label>
    <input type="text" th:field="*{age}" id="age">
    <br>
    <br>
    <input type="submit" value="Edit">
</form>
</body>
</html>