<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DB Users</title>
    <style>
        table {
            border-collapse: collapse;
            width: auto;
        }
        th, td {
            border: 2px solid black;
            padding: 10px;
            text-align: center;
        }
        th {
            background-color: skyblue;
        }
    </style>

</head>
<body>
<h1>Customer data</h1>
<table>
    <thead>
    <tr>

        <th scope="col">id   </th>
        <th scope="col">Name</th>
        <th scope="col">City</th>
        <th scope="col">Age</th>
        <th scope="col">Edit</th>
        <th scope="col">Remove</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="user : ${ListOfUsers}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getCity()}"></td>
        <td th:text="${user.getAge()}"></td>

        <td>
            <form class="mb-2" th:action="@{/edit}" th:method="GET">
                <input type="hidden" name="id" th:value="${user.getId()}">
                <button class="btn btn-outline-warning bi-pencil-square" type="submit">Edit
                </button>
            </form>
        </td>
        <td>
            <form class="mb-2" th:action="@{/delete}" th:method="Delete">
                <input type="hidden" name="id" th:value="${user.getId()}">
                <button class="btn btn-outline-danger bi-trash3" type="submit">Remove
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br>
<form th:action="@{/new}" th:method="GET">
    <button type="submit">Add a user</button>
</form>
</body>
</html>